<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center ontop">
  <img src="../img/knollraf.png" class="knollraf">
  <div class="container">
    <div class="innologo1">
      <img src="../img/logo.svg" class="svg1">
    </div>
    <div class="innologo1">
      <img src="../img/inno-logo.svg" class="svg2 element-animation">
    </div>
    <!--<h1>Animationstest für innovations solutions ag</h1>-->
  </div>
</div>


<div class="container container2"></div>
<div class="container">
  <div class="raff" >
    <img src="../img/logobig.svg">
    <img src="../img/blau.svg" class="blau element-animation2">
  </div>
  <a href="http://cssanimate.com/" target="_blank">
    <img src="../img/key.png" class="neu">
  </a>
</div>

<!--<footer>-->
  <!--<div class="testraff">-->
    <!--<p>Raffael Knoll || TEST </p>-->
  <!--</div>-->
<!--</footer>-->


</body>
</html>
